@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/*
.app {

}
*/

#post-title {
    font-size: 2em;
}

h2 a {
    color: black;
    text-decoration: none;
}

.header-container {
    height: 56px;
    padding: 0 20px;
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo-container, nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.app-logo {
    height: 48px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#logo-text {
    font-family: 'IBM Plex Mono', monospace;
}

.header-element, .nav-element {
    margin: 0 10px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.header-element {
    font-size: 24px;
}

.nav-element {
    font-size: 18px;
}

.main-container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 172px);
}

.main-column {
    flex-grow: 8;
    margin: 0 20px;
}

.aside-column {
    flex-shrink: 1;
    flex-basis: 350px;
}

.horiz-line {
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 0px;
    margin-bottom: 20px;
    border-style: solid;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-meta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author-date-container {
    margin-left: 10px;
}

#author-name {
    margin: 0px;
}

.post-date {
    font-size: 16px;
}

.post-likes {
    margin: 0 0 0 auto;
}

.post-text {
    margin-block-end: 2em;
}

#read-more-lnk {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 2em;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

#read-more-lnk:hover {
    color: black;
}

.sidebar-container {
    padding: 0 10px;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
}

.footer {
    height: 56px;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.footer p {
    font-size: 18px;
}

.popup-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
}

.popup-container {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popup-header.is-success {
    color: #308342;
}

.close-btn {
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

.form-container, .label-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.label-container {
    margin: 0.5em 0;
    font-size: 16px;
}

input, .text-container  {
    padding: 8px;
    margin-top: 4px;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 6px;
    font-size: 14px;
}

input.is-warning, .text-container.is-warning {
    border: 1px solid #f02849;
}

.text-container {
    height: 100px;
    resize: none;
    font-family: inherit;
}

.error-message {
    margin-top: 2px;
    font-size: 13px;
    color: #f02849;
}

.submit-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    margin: 0.5em auto;
    appearance: none;
    background-color: #48b960;
    font-size: 14px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 6px 16px;
    white-space: nowrap;
    word-wrap: break-word;
}

.submit-btn:hover {
    background-color: #3aa151;
    text-decoration: none;
    transition-duration: 0.1s;
  }

.submit-btn:active {
    background-color: #308342;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.submit-btn:focus {
    outline: 1px transparent;
}
