.form-container, .label-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.label-container {
    margin: 0.5em 0;
    font-size: 16px;
}

.form-container input, .text-container  {
    margin-top: 4px;
    font-size: 14px;
}

.text-container {
    height: 100px;
    resize: none;
    font-family: inherit;
}

.submit-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    margin: 0.5em auto;
    appearance: none;
    background-color: #48b960;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 6px 16px;
    white-space: nowrap;
    word-wrap: break-word;
}

.submit-btn:hover {
    background-color: #3aa151;
    text-decoration: none;
    transition-duration: 0.1s;
  }

.submit-btn:active {
    background-color: #308342;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.submit-btn:focus {
    outline: 1px transparent;
}

.errors-container {
    display: flex;
    flex-direction: column;
}

.errors-container p {
    margin: 5px auto;
    color: #f02849;
}
